

<div class="login-page">
    <div class="form">
        <form class="login-form">
            <div class="box">
                <form name="pg1">
                    <h2 style="padding-bottom:10px;"><b>Register</b></h2>

                    <h4 style="padding-bottom:20px"> I am a... </h4>
                    <a href="#/regartist"
                       class="btn btn-primary btn-block"
                       style="margin-top:10px; padding:10px;">
                        <b>SINGLE ARTIST</b>
                    </a>

                    <a href="#/regband"
                       class="btn btn-primary btn-block"
                       style="padding:10px;">
                        <b>BAND</b>
                    </a>

                </form>
            </div>
        </form>
    </div>
</div>



