<!--<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">-->
<!--<div class="container-fluid">-->
<!--<div class="container topnav">-->
<!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand topnav" href="#">JAM'N</a>-->
<!--</div>-->
<!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
<!--<p class="navbar-text pull-right">-->
<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li>-->
<!--<a href="#about">About</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="views/search.view.client.html">Search JAM'N Members</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">
            Profile
        </a>
        <p class="navbar-text pull-right">
            <a ng-click="model.updateUser(model.user)"
               class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
            </a>
        </p>
    </div>

</nav>


<div class="login-page">
    <div class="form register">
        <h1>{{model.user.username}}'s Band Profile</h1>

        <div ng-show="model.success" class="alert alert-success">
            {{model.success}}
        </div>

        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>


        <p class="message" style="text-align:left; color:black;"> First Name </p>
        <input ng-model="model.user.firstname"
               type="text"
               placeholder="alice"/>

        <p class="message" style="text-align:left; color:black;"> Last Name </p>
        <input ng-model="model.user.lastname"
               type="text"
               placeholder="wonderland"/>

        <p class="message" style="text-align:left; color:black;"> Email </p>
        <input ng-model="model.user.email"
               type="text"
               placeholder="alice@wonderland.com"/>

        <h4 style="text-align:left">I am a:</h4>
        <input ng-model="model.user.type"
               type="text"
               disabled
               placeholder="Guitarist"/>

        <p class="message" style="text-align:left; color:black;"> Band Name </p>
        <input ng-model="model.user.bandname"
               type="text"
               placeholder="band name"/>

        <p class="message" style="text-align:left; color:black;"> Band Size </p>
        <input ng-model="model.user.bandsize"
               type="text"
               placeholder="4"/>


        <br>
        <a href="#/band/{{model.user._id}}/search">
            <button>Search JAM'N Friends</button>
        </a>

        <a ng-click="model.unregister()">
            <button style="background-color:#e03131; margin-top:20px;">Unregister</button>
        </a>

        <a ng-click="model.logout()">
            <button style="background-color:#1b6d85; margin-top:20px;">Logout</button>
        </a>


    </div>
</div>

