

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="website-list.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                New Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click = "model.createWebsite({{model.user._id}}, websiteName)"
                   class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <label for="websiteName">Name</label>
    <input ng-model = "websiteName"
           class ="form-control"
           placeholder = "Name"
           id="websiteName"
           type="text"/>

    <label for="description">Description</label>
    <input ng-model = "description"
           class ="form-control"
           textarea rows="5"
           placeholder = "Description"
           id="description"
           type="text"/>
<!--
    <form>
        <div class="form-group">
            <label for="websitename">Name</label>
            <input type="text"
                   class="form-control"
                   id="websitename"
                   placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="5"
                      id="description"
                      placeholder="Description"
                      class="form-control"></textarea>
        </div>
    </form>
-->
    <a class="btn btn-danger btn-block"
       href="website-list.view.client.html">Delete</a>
</div>

<!-------------- FOOTER ----------------------------->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <p class="navbar-text pull-right">
                    <a href="../Views/Users/profile.html" class="navbar-link">
                        <span class="glyphicon glyphicon-user" ></span>
                    </a>
            </a>
        </div>
    </div>
</nav>

