<link href="../../css/bootstrap.min.css" rel="stylesheet">
<link href="../../css/login.css" rel="stylesheet">


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="search.view.client.html">
            <span class="glyphicon glyphicon-chevron-left">
            </span>

            Search

        </a>
    </div>

</nav>

<style>


</style>

<div class="container-fluid"
     style="text-align:center;margin-top:80px;padding-bottom:10px;background-color:white;">
    <div class="row">

        <h1> Bob </h1>
        <h4>Drummer</h4>
        <hr>
        <h4><b>Username </b> bob </h4>
        <h4><b>First Name:</b> Bob </h4>
        <h4><b>Last Name:</b> Marley </h4>
        <h4><b>Band Name:</b> Rockin Dudes </h4>
        <h4><b>Band Size:</b> 3 </h4>

        <hr>
        <h4>Send an email to start JAM'N!</h4>
        <a href="mailto:bob@marley.com?Subject=Let's Jam" target="_top">
            bob@marley.com
        </a>
    </div>
</div>
