


<div class ="container">  <!--adds white space on each side of the page(responsive) -->

    <div class = "alert alert-success"> <!-- hard coded right now-->
        Successfully updated profile
    </div>

    <div class = "alert alert-danger">
        Unable to update your profile
    </div>


    <h2>Register</h2>
    <input class = "form-control"
           placeholder = "username"
           type="text"/>
    <input class = "form-control"
           placeholder="password"
           type="password"/>
    <input class = "form-control"
           placeholder = "verify password"
           type="text"/>
    <a class = "btn btn-primary btn-block"
       href = "#/profile"> Register </a>  <!--btnblock takes up whole screen -->

    <a class = "btn btn-danger btn-block"
       href = "#/login"> Cancel </a>

</div>
