


<div class ="container">  <!--adds white space on each side of the page(responsive) -->

    <div class = "alert alert-success"> <!-- hard coded right now-->
        Successfully updated profile
    </div>

    <div class = "alert alert-danger">
        Unable to update your profile
    </div>


    <h2>Register</h2>
    <input ng-model = "form-control"
           placeholder = "username"
           type="text"/>
    <input ng-model  = "form-control"
           placeholder="password"
           type="password"/>
    <input ng-model  = "form-control"
           placeholder = "verify password"
           type="password"/>

    <a ng-click = "model.register(username, password, password2)"
       class ="btn btn-primary btn-block"> Register </a>
        <!--btnblock takes up whole screen -->

    <a class = "btn btn-danger btn-block"
       href = "#/login"> Cancel </a>

</div>
