


<div class ="container">  <!--adds white space on each side of the page(responsive) -->



    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>


    <h2>Register</h2>
    <form name="register">
    <input required ng-model = "username"
           class ="form-control"
           placeholder = "username"
           name="username"
           type="text"/>
        <span ng-show="register.username.$error.required"
              class="err">
        Username Required</span>

    <input required ng-model  = "password"
           class = "form-control"
           placeholder="password"
           name="password"
           type="password"/>
        <span ng-show="register.password.$error.required"
              class="err">
        Password Required</span>
    <input required ng-model  = "password2"
           class = "form-control"
           name="password2"
           placeholder = "verify password"
           type="password"/>
        <span ng-show="register.password2.$error.required"
              class="err">
        Verification Required</span>
        </form>

    <a ng-click = "model.register(username, password, password2)"
       class ="btn btn-primary btn-block"> Register </a>
        <!--btnblock takes up whole screen -->

    <a class = "btn btn-danger btn-block"
       href = "#/login"> Cancel </a>

</div>
