
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../Website/website-list.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand" href="page-list.view.client.html">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="page-new.html" class="navbar-link">   <!--FIX THIS LINK -->
                      <span class="glyphicon glyphicon-plus">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>



<div class="container">
    {{model.page}}
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item">

            <a href="#/User/{{page.developerId}}/website/{{page.websiteId}}/page/{{page._id}}/widget">
                {{page.name}}
            </a>

            <!--looks at user's id and goes to THEIR websites only -->
            <a href="#/User/{{websi.developerId}}/Website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </li>
    </ul>
</div>


<!------ Hard Coded stuff

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../Widget/widget-list.view.client.html">Blog Post</a>
            <a href="page-edit.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../Widget/widget-list.view.client.html">Blogs</a>
            <a href="page-edit.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../Widget/widget-list.view.client.html">Home</a>
            <a href="page-edit.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../Widget/widget-list.view.client.html">About</a>
            <a href="page-edit.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../Widget/widget-list.view.client.html">Contact Us</a>
            <a href="page-edit.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>
-->


<!-------------- FOOTER ----------------------------->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <p class="navbar-text pull-right">
                    <a href="../User/profile.view.client.html" class="navbar-link">
                        <span class="glyphicon glyphicon-user" ></span>
                    </a>
            </a>
        </div>
    </div>
</nav>

