
<!--need controller for this -->
<!-- QUICK code, not right
<a href ="" ng-click = "model.createWidget( 'HEADING ' )"> Heading widget</a>
<a href ="" ng-click = "model.createWidget( 'YouTube ' )"> YouTube widget</a>
--->
<!-- controller will create NEW instant of widget.
set TYPE of widget and push into array of widgets that i have
and then navigate to edit page with the widget id i just created

when i click on url, needs to call event handdler

--->




<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/User/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand" href="widget-chooser.view.client.html">
                Widget Edit
            </a>

        </div>
    </div>
</nav>

<div ng-show="model.success" class="alert alert-success">
    {{model.success}}
</div>
<div ng-show="model.error" class="alert alert-danger">
    {{model.error}}
</div>


<div ng-switch="model.widget.type">
    <div ng-switch-when="HEADER">
        <div ng-include src="views/widget/widget-heading.view.client.html"></div>
    </div>

    <div ng-switch-when="IMAGE">
        <div ng-include src="views/widget/widget-image.view.client.html"></div>
    </div>

    <div ng-switch-when="YOUTUBE">
        <div ng-include src="views/widget/widget-youtube.view.client.html"></div>
    </div>

    <div ng-switch-when="HTML">
        <div ng-include src="views/widget/widget-html.view.client.html"></div>


    <div ng-switch-when="TEXT">
            Text
            <input ng-model="model.widget.text" class="form-control"/>
            Rows
            <input ng-model="model.widget.rows" class="form-control" type="number"/>
            Placeholder
            <input ng-model="model.widget.placeholder" class="form-control"/>
            Formatted
            <input ng-model="model.widget.formatted" type="checkbox"/>
        </div>
        <div ng-include src="views/widget/widget-text.view.client.html"></div>
    </div>
</div>


<!-------------- FOOTER ----------------------------->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <p class="navbar-text pull-right">
                    <a href="#/profile/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user" ></span>
                    </a>
            </a>
        </div>
    </div>
</nav>

