<!-- took out body and html tags-->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
                   class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>

            <a class="navbar-brand"
               href="widget-list.view.client.html">

                Widgets
            </a>
            <p class="navbar-text pull-right">



                <a href="#/User/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                   class="navbar-link">
                      <span class="glyphicon glyphicon-plus">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--put in widtet list

<div ng-switch-when="TEXT">
    <div ng-if="widget.textInput.formatted">

    </div>
</div>

-->

{{widgets}}
<!--- this here helps REPEAT widgets
the repeat copy and pastes it over and over again-->

<div class="widget-container">
    <div ng-repeat="widget in model.widgets"
         ng-switch="widget.widgetType">
        <div class="jga-widget-tool">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>


       <!-- if widget is HEADING ---------------------------------------->

        <div ng-switch-when="HEADER" class ="jga widget">
            <div class="jga-widget-tool">

        </div>

            <!-- if SIZE is.....-->
            <div ng-switch="widget.size">
                <h1 ng-switch-when= "1"> {{widget.text}}</h1>
                <h2 ng-switch-when= "2"> {{widget.text}}</h2>
                <h3 ng-switch-when= "3"> {{widget.text}}</h3>
                <h4 ng-switch-when= "4"> {{widget.text}}</h4>
                <h5 ng-switch-when= "5"> {{widget.text}}</h5>
                <h6 ng-switch-when= "6"> {{widget.text}}</h6>
            </div>

        </div>

        <!-- if widget is IMAGE --------------------------------------->
        <!--when browser gets to this image tag, it WON'T download the image url.
           Angular will look at the url source and then trigger downloading of image -->

       <div ng-switch-when = "IMAGE" class= "jga-widget">
           <img ng-src = "{{widget.url}}"
                width = "{{widget.width}}"/>
       </div>


       <!-- if widget is HTML
            if html, just want to show the text ----------------------------------->
        <div ng-switch-when = "HTML"
             class= "jga-widget"
             ng-bind-html="model.userHtml">
            {{model.getTrustedHTML(widget)}        <!-- pass widget to controller to see if they trust it -->
        </div>


            <!-- if widget is YOUTUBE --------------------------------->
        <div ng-switch-when = "YOUTUBE"
             class= "jga-widget">

            <iframe ng-width= {{widget.width}}
                    height="5"
                    ng-src= {{model.getTurstedURL(widget)}
                    frameborder ="0" allowfullscreen>
            </iframe>

        </div>

        <div ng-switch-when="TEXT">
            <div ng-if="widget.formatted"
                 text-angular
                 ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                                    ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull],
                                    ['indent','outdent'],['html']]"></div>
            <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                   placeholder="{{widget.textInput.placeholder}}" class="form-control"/>
                    <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                              rows="{{widget.rows}}"
                              placeholder="{{widget.placeholder}}"
                              class="form-control">{{widget.text}}</textarea>
        </div>


       <!-- right now we have no template for image or youtube, etc
       So by DEFAULT, just render whatever the object is ----------------------->

        <div ng-switch-default>
            {{widget}}
        </div>
    </div>


    <a href="widget-heading.view.client.html">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-align-justify"></span>
    </a>

</div>


<!-------------- FOOTER ----------------------------->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">

                <span class="glyphicon glyphicon-play"></span>
                </a>

                <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-eye-open"></span>
                </a>



                <p class="navbar-text pull-right">
                    <a href="#/profile/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user" ></span>
                    </a>
                </p>
        </div>
    </div>
</nav>

