
<!--need controller for this -->
<!-- QUICK code, not right
<a href ="" ng-click = "model.createWidget( 'HEADING ' )"> Heading widget</a>
<a href ="" ng-click = "model.createWidget( 'YouTube ' )"> YouTube widget</a>
--->
<!-- controller will create NEW instant of widget.
set TYPE of widget and push into array of widgets that i have
and then navigate to edit page with the widget id i just created

when i click on url, needs to call event handdler

--->





<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../Website/website-list.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand" href="widget-chooser.view.client.html">
                Choose Widget
            </a>

        </div>
    </div>
</nav>



<div class="container">

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>


    <ul class="list-group">

        <li class="list-group-item">
            <a ng-click="model.createWidget('HEADING')"> Heading </a>
        </li>


        <li class="list-group-item">
            <a ng-click="model.createWidget('LABEL')"> Label </a>
        </li>

        <li class="list-group-item">
            <a ng-click="model.createWidget('HTML')"> HTML </a>
        </li>

        <li class="list-group-item">
            <a ng-click="model.createWidget('TEXT')"> Text Input </a>
        </li>

        <li class="list-group-item">
            <a ng-click="model.createWidget('LINK')"> Link </a>
        </li>

        <li class="list-group-item">
            <a ng-click="model.createWidget('BUTTON')"> Button </a>
        </li>

        <li class="list-group-item">
            <a ng-click="model.createWidget('IMAGE')"> Image </a>
        </li>

        <li class="list-group-item">
            <a ng-click="model.createWidget('YOUTUBE')"> YouTube </a>
        </li>

        <li class="list-group-item">
            <a ng-click="model.createWidget('DATA TABLE')"> Data Table </a>
        </li>

        <li class="list-group-item">
            <a ng-click="model.createWidget('REPEATER')"> Repeater </a>
        </li>

    </ul>
</div>

<!-------------- FOOTER ----------------------------->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <p class="navbar-text pull-right">
                    <a href="#/profile/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user" ></span>
                    </a>
            </a>
        </div>
    </div>
</nav>

