
<!--need controller for this -->
<!-- QUICK code, not right
<a href ="" ng-click = "model.createWidget( 'HEADING ' )"> Heading widget</a>
<a href ="" ng-click = "model.createWidget( 'YouTube ' )"> YouTube widget</a>
--->git
<!-- controller will create NEW instant of widget.
set TYPE of widget and push into array of widgets that i have
and then navigate to edit page with the widget id i just created

when i click on url, needs to call event handdler

--->





<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../Website/website-list.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand" href="widget-chooser.view.client.html">
                Search Flickr
            </a>

        </div>
    </div>
</nav>

<!-- SEARCH BOX --->

<div class="input-group">
    <input ng-model="searchText" type="text" class="form-control">
    <span class="input-group-btn">
        <a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
</div>

{{model.photos}}

<!-------------- FOOTER ----------------------------->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <p class="navbar-text pull-right">
                    <a href="../Views/Users/profile.html" class="navbar-link">
                        <span class="glyphicon glyphicon-user" ></span>
                    </a>
            </a>
        </div>
    </div>
</nav>

</body>
</html>