<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/login.css" rel="stylesheet">


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="search.view.client.html">
            <span class="glyphicon glyphicon-chevron-left">
            </span>

            Search

        </a>
    </div>

</nav>

<style>

    .results {
        top: 50%;
        left: 50%;
        display: block;
        position: absolute;
        background-color: white;
        width: 500px;
        height: 417px;
        padding-left: 20px;
        margin-top: -208.5px;
        margin-left: -280px;
        text-align: center;
    }

    .results h3 {
        text-align: left;
    }

</style>


<div class="results title">
    <h1> Alice </h1>
    <h4>Guitarist</h4>
    <hr>
    <h3><b>Username </b> alice </h3>
    <h3><b>First Name:</b> Alice </h3>
    <h3><b>Last Name:</b> Wonderland </h3>
    <hr>
    <h4>Send an email to start JAM'N!</h4>
    <a href="mailto:someone@example.com?Subject=Let's Jam" target="_top">
        alice@wonderland.com
    </a>


</div>