<!--updated -->

<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/login.css" rel="stylesheet">

<!--<div class ="container">-->


    <!--IF user name and pw doesn't match, should have error -->
    <!-- Should NOT come up with u try to login when field are blank -->



<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="register.view.client.html">Create an account</a></p>
        </form>
    </div>
</div>

</div>






