<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/login.css" rel="stylesheet">



<div class="login-page">
    <div class="form">
        <form class="login-form">
            <h1>Login</h1>

            <p class="message" style="text-align:left; color:black;"> Username </p>
            <input required ng-model="username"
                   type="text"
                   placeholder="alice123"
                   name="username"/>

            <p class="message" style="text-align:left; color:black;"> Password </p>
            <input required ng-model="password"
                   type="password"
                   placeholder="password"
                   name="password"/>

            <a ng-click= "model.login(username, password)">
                <button>login</button>
            </a>
            <p class="message"
               style="color:black;"><b>Not registered? <a href="register.view.client.html">Create an account</a></b></p>
        </form>
    </div>
</div>








