<div class="container-fluid">
    <form name="login" ng-app>
        <div class="row">
            <div class="login-page">
                <div class="form">

                    <div ng-if="model.error" class="alert alert-danger">
                        {{model.error}}
                    </div>

                    <h1>Login</h1>

                    <p class="message" style="text-align:left; color:black;"> Username </p>
                    <input required ng-model="username"
                           type="text"
                           placeholder="alice123"
                           name="username"/>

                    <p class="message" style="text-align:left; color:black;"> Password </p>
                    <input required ng-model="password"
                           type="password"
                           placeholder="password"
                           name="password"/>

                    <a ng-click= "model.login(username, password)">
                        <button>login</button>
                    </a>

                    <a href="/auth/google">
                        <button style="margin-top:10px; background-color:#0099cc">
                            <span class="fa fa-google-plus"></span>
                            <b>GOOGLE</b>
                        </button>
                    </a>

                    <p class="message"
                       style="color:black;"><b>Not registered? <a href="#/registerpg1">Create an
                        account</a></b></p>

                </div>
            </div>
        </div>
    </form>
</div>








