<link href="../../css/bootstrap.min.css" rel="stylesheet">
<link href="../../css/login.css" rel="stylesheet">


<div class="scroll">
    <div class="login-page">
        <div class="form register">
            <h1>Artist Register</h1>
            <p class="message" style="text-align:left; color:black;"> Username </p>
            <input required ng-model="username"
                   type="text"
                   placeholder="username"/>

            <p class="message" style="text-align:left; color:black;"> First Name </p>
            <input required ng-model="firstname"
                   type="text"
                   placeholder="alice"/>

            <p class="message" style="text-align:left; color:black;"> Last Name </p>
            <input ng-model="lastname"
                   type="text"
                   placeholder="wonderland"/>

            <p class="message" style="text-align:left; color:black;"> Email </p>
            <input ng-model="email"
                   type="text"
                   placeholder="alice@wonderland.com"/>

            <p class="message" style="text-align:left; color:black;"> Password </p>
            <input ng-model="password"
                   type="password" placeholder="password"/>

            <h4>I am a...</h4>
            <select required ng-model="type"
                    style="width:100%;
                    margin-bottom:25px"
                    name="membertype">
                <option value="drummer"
                        id="drummer" >Drummer</option>
                <option value="guitarist"
                        id="guitarist">Guitarist</option>
                <option value="singer"
                        id="singer">Singer</option>
            </select>
            <br>
            <a ng-click = "model.register(username, password, password2, firstname, lastname, email, type)">
                <!--<a ng-click = "model.register(username, password)">-->
                <button>Create Account</button>
            </a>
            <p class="message"
               style="color:black;"><b> Already registered? <a href="#/login">Sign In</a></b></p>

        </div>
    </div>
</div>
