<link href="../../css/bootstrap.min.css" rel="stylesheet">
<link href="../../css/login.css" rel="stylesheet">



<!--<style>-->
<!--.box {-->
<!--margin: 100px auto 300px auto;-->
<!--background: #FFFFFF;-->
<!--/*margin: 10 auto 100px;*/-->
<!--padding: 50px;-->
<!--text-align: center;-->
<!--box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);-->
<!--}-->

<!--</style>-->

<div class="login-page">
    <div class="form">
        <form class="login-form">
            <div class="box">
                <form name="pg1">
                    <h2 style="padding-bottom:10px;"><b>Register</b></h2>

                    <h4 style="padding-bottom:20px"> I am a... </h4>
                    <a href="register.artist.view.client.html"
                       class="btn btn-primary btn-block"
                       style="margin-top:10px; padding:10px;">
                        <b>SINGLE ARTIST</b>
                    </a>

                    <a href="register.band.view.client.html"
                       class="btn btn-primary btn-block"
                       style="padding:10px;">
                        <b>BAND</b>
                    </a>

                </form>
            </div>
        </form>
    </div>
</div>



